
/* ---------Added Google font------ */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ---------nav style starts here--------- */

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
}

.nav-container .nav-button a{
    text-decoration: none;
}

.nav-button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
}